<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='output.css')}}">
  <title>Add Magazine</title>
</head>
<body class='w-5/6 mx-auto flex flex-col text-xl'>
  <nav class='flex justify-between items-center mt-6'>
    <h1 class='text-3xl font-bold text-purple-700'>Add a Magazine</h1>
    <div class='flex gap-x-12 text-xl'>
      <a href="/home" class='py-1 px-2'>Dashboard</a>
      <a href="/logout" class='border-black border-[1px] bg-purple-700 text-white font-medium py-1 px-2 rounded-md'>Logout</a>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class='mt-6'>
      {% for message in messages %}
        <p>{{message}}</p>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

  <form action="/home/create/new" method='POST' class='flex flex-col w-1/2 gap-y-4 mt-12'>
    <label for="title" class='font-semibold text-2xl '>Title:</label>
    <input type="text" name="title" id="title" class='border rounded-md px-4'>
    <label for="description" class='font-semibold text-2xl mt-6'>Description:</label>
    <textarea name="description" id="description" cols="30" rows="10" class='border rounded-md px-4'></textarea>
    <button class='font-semibold rounded-lg w-max py-2 px-4 mx-auto my-6 bg-orange-600 text-white'>Submit</button>
</body>
</html>